.chatbot-input {
    padding: 12px;
    background: #c6dcdb;
    display: flex;
    border-radius: 35px;
    width: 80%;
    margin: auto;
    margin-top: 5px;
}

.chatbot-input input {
    flex: 1;
    padding: 10px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.chatbot-input button {
    margin-left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #004d40;
    color: white;
    font-size: 16px;
}

.chatbot-input button:hover {
    background: #004d40d0;
}



.chat-messages{
    background-color: #edf9f9a0;
    border-radius: 25px;
    flex: 1;
    overflow-y: scroll;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 100%;
}

.chat-container{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 170px);
}

.message{
    max-width: 75%;
    line-height: 1.6;
    font-size: 15px;
}

.message.user {
    align-self: flex-end;
    background: #74a9ab;
    color: white;
    padding: 10px 14px;
    border-radius: 16px 16px 2px 16px;
}

.message.bot {
    color: #111;
    max-width: 100%;
}